SERVICE_URL=http://localhost
SERVICE_PORT=5000
SERVICE_DEBUG=TRUE
PD_TRIPLESTORE="stardog"
PD_PROTOCOL="http"
PD_URL="62.204.199.252"
PD_PORT="5820"
PD_DATABASE="PD_KG"
PD_USER="username"
PD_PASSWORD="password"
